/*=========*/
/* GENERAL */
/*=========*/

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.home_main{
	width: 100%;
	height: 50%;
	position: absolute;
	padding-top:5px;
	/* top:0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
	/* margin: auto; */
}
.services_main{
	width: 100%;
	height: 50%;
	padding-top:10px;
	/* position: absolute; */
	/* top:0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
}
.home_background{
	width: 100%;
	height: 100%;
	background-image: url("../img/background1v2.jpeg");
	/* background-image: url("../img/background1.jpeg"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.services_background{
	/* background-color:#d9d9d9; */
	/* background:linear-gradient(to bottom right, #f3b0f2, #fdf5b9); */
	background:linear-gradient(to bottom right, #cdffd8, #94b9ff);
	width: 100%;
	height: 100%;
}
.blur {
	/* background: rgba(255, 255, 255, 0.2); */
	background: rgba(255, 255, 255, 0.15);
	display:block;
	height: 100%;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height:20%;
	width: 100%;
	text-align: center;
}
.hello{
	font-family: "Festive", Arial, Helvetica, sans-serif;
	line-height: 50px;
	/* font-size: 65px; */
	font-size: 80px;
	font-style: italic;
	margin:0;
	height: 20%;
}
/* ========= */
/*END GENERAL*/
/* ========= */

/* ========= */
/*    MENU   */
/* ========= */
.topnav{
	overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover{
	background-color: none;
	color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right{
	float: right;
}
.services_topnav{
	/* background: linear-gradient(to bottom right,#004aad,#00bf63); */
	background-color:#910f3f;
	padding:10px;
	/* text-align: center; */
	/* margin:auto; */
	/* background: linear-gradient(to bottom left,#d7161d,#ffffff,#00bf63); */
}

/*=========*/
/*END MENU*/
/*=========*/

.profile-img{
	/* border-radius: 50%; */
	width: 180px;
	height: 150px;
}

/*=========*/
/* FLEXBOX */
/*=========*/

.flex-container{
	display: flex;
	flex-direction: column;
	align-items: center;	
	align-content: center;
}
.contact-box{
	flex-grow:1;
	align-self:center;
}

.events_flex_container{
	display: flex;
	flex-direction: row;
	align-items: center;	
	align-content: center;
}
.event-box{
	border:3px solid black;
	border-radius:5%;
	/* padding:0px; */
	font-size: 50px;
	padding:120px;
	margin-left:35px;
	margin-right:35px;
	flex-grow:1;
	align-self:center;
}
.box-img{
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:5%;
}
.event-box a{
	text-decoration:none;
	color:black;
}

/*=========*/
/* END FLEXBOX */
/*=========*/

/*=========*/
/* FONT AWESOME ICONS */
/*=========*/

.social_icon{
	padding:7px; 
	border: 2px solid white; 
	border-radius:50%;
	width:45px;
	height:45px;
	margin-right:10px;
}
.fa{
	/* padding: 10px; */
	/* padding: 0px; */
	font-size: 45px !important;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
/* END FONT AWESOME ICONS */

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
	.background{
		width: 100%;		
		height: 100%;		
	}
	.flex-container{
		/* flex-direction: column; */
		align-content: center;
	}
	.system-stockage-container{
		flex-direction: column;
		align-content:center;
	}
	.about-section{
		padding-right: 10px;
		padding-left: 10px;
	}
	.hello{
		/* font-size:35px; */
		font-size:50px;
		height:10%;
	}
	#portfolio-title{
		display:none;
	}
	.profile-img{
		width:100px;
		height:100px;
	}
	.main{
		width: 100%;
		height: 50%;
		position: none;
		top:none;
		bottom: none;
		left: none;
		right: none;
		margin: none;
	}
	.fa{
		padding:10px;
		font-size: 50px !important;
	}
}

/*=========*/
/*GENERAL*/
/*=========*/
.empty-space{
	height:10px;
}
.li-without-style{
	list-style:none;
}
li{
	list-style: square;
}
em{
	font-weight: bold; font-style: normal;
}
.center{
	text-align:center;
}
.italic{
	font-style:italic;
}
.red{
	background-color:crimson;
}
.green{
	background-color:DarkCyan;
}
.blue{
	background-color:darkslateblue;
}

/* Adapt to smaller devices */
@media only screen and (max-width: 200px) {
	.profile-img{
		width:50px;
		height:50px;
		padding-top:35%;
	}
	.hello{
		font-size:20px;
		line-height:20px;
	}
	.flex-container{
		padding-top:40%;
	}
}
