/*=========*/
/* GENERAL */
/*=========*/

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	color: white;
	text-align: center;
	font-family: Serif, Arial, Helvetica, sans-serif;
}
.home_main{
	width: 100%;
	height: 50%;
	position: absolute;
	padding-top:5px;
}
.services_main{
	width: 100%;
	height: 50%;
	padding-top:10px;
}
.home_background{
	background:linear-gradient(to bottom right, #cdffd8, #94b9ff);
	width: 100%;
	height: 100%;
}
.services_background{
	background: #F5F5DC;
	width: 100%;
	height: 100%;
}
#service_h1{
	color:black;
	font-family:serif;
	font-size:50px;
	margin-top:5px;
}
.blur {
	background: rgba(255, 255, 255, 0.15);
	display:block;
	height: 100%;
}
.fixed{
	position:fixed;
}
.sticky{
	position:sticky;
}
footer{
	left: 0;
	bottom: 0;
	height:19%;
	width: 100%;
	text-align: center;
}
.hello{
	font-family: "Festive", Arial, Helvetica, sans-serif;
	line-height: 50px;
	font-size: 80px;
	font-style: italic;
	margin:0;
	height: 20%;
}
/* ========= */
/*END GENERAL*/
/* ========= */

/* ========= */
/*    MENU   */
/* ========= */
.topnav{
	overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover{
	background-color: none;
	color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right{
	float: right;
}
.services_topnav{
	background-color:#910f3f;
	padding:5px;
}
.devis_btn{
	background-color:#042a5e;
	line-height:1em;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;
	border-bottom-left-radius:40px;
	padding-left:40px;
	padding-right:40px;
	padding-top:16px;
	padding-bottom:16px;
	font-size: 0.9375rem;
}

/*=========*/
/*END MENU*/
/*=========*/

.profile-img{
	width: 180px;
	height: 150px;
}

/*=========*/
/* FLEXBOX */
/*=========*/

.flex-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
.contact-box{
	flex-grow:1;
	align-self:center;
}

.events_flex_container{
	display: flex;
	flex-direction: row;
}
.event-box{
	border-radius:5%;
	font-size: 30px;
	padding:15px;
	margin-left:10px;
	margin-right:10px;
	flex-grow:1;
	align-self:center;
}
.box-img{
	width:400px;
	height:100%;
	object-fit:cover;
	border-radius:5%;
}
.event-box a{
	text-decoration:none;
	color:black;
}

/*=========*/
/* END FLEXBOX */
/*=========*/

/*=========*/
/* FONT AWESOME ICONS */
/*=========*/

.social_icon{
	padding:7px;
	border: 2px solid white;
	border-radius:50%;
	width:45px;
	height:45px;
	margin-top:55px;
	margin-right:10px;
}
.fa{
	font-size: 45px !important;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
/* END FONT AWESOME ICONS */

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
	.background{
		width: 100%;
		height: 100%;
	}
	.flex-container{
		align-content: center;
	}
	.system-stockage-container{
		flex-direction: column;
		align-content:center;
	}
	.about-section{
		padding-right: 10px;
		padding-left: 10px;
	}
	.hello{
		font-size:50px;
		height:10%;
	}
	#portfolio-title{
		display:none;
	}
	.profile-img{
		width:100px;
		height:100px;
	}
	.main{
		width: 100%;
		height: 50%;
		position: none;
		top:none;
		bottom: none;
		left: none;
		right: none;
		margin: none;
	}
	.fa{
		padding:10px;
		font-size: 50px !important;
	}
}

/*=========*/
/*GENERAL*/
/*=========*/
.empty-space{
	height:10px;
}
.li-without-style{
	list-style:none;
}
li{
	list-style: square;
}
em{
	font-weight: bold; font-style: normal;
}
.center{
	text-align:center;
}
.italic{
	font-style:italic;
}
.red{
	background-color:crimson;
}
.green{
	background-color:DarkCyan;
}
.blue{
	background-color:darkslateblue;
}

@media only screen and (max-width: 1400px) {
	footer{
		height:14%;
	}
	.social_icon{
		padding:5px;
		border: 2px solid white;
		border-radius:50%;
		width:35px;
		height:35px;
		margin-top:35px;
		margin-right:10px;
	}
	.fa{
		font-size:35px!important;
	}
}

@media only screen and (max-width: 1389px) {
	footer{
		margin-top:5%;
	}
}

@media only screen and (max-width: 1340px) {
	.events_flex_container{
		flex-direction:column;
	}
}
@media only screen and (max-width: 1315px) {
	footer{
		margin-top:8%;
	}
}

@media only screen and (max-width: 1175px) {
	footer{
		margin-top:10%;
	}
}

@media only screen and (max-width: 1129px) {
	footer{
		margin-top:13%;
	}
}

@media only screen and (max-width: 1065px) {
	footer{
		margin-top:15%;
	}
}

@media only screen and (max-width: 1050px) {
	footer{
		margin-top:200px;
	}
}

@media only screen and (max-width: 1065px) {
	footer{
		position:fixed;
	}
}

@media only screen and (max-width: 850px) {
	footer{
		height:10%;
	}
	.social_icon{
		padding:5px;
		border: 2px solid white;
		border-radius:50%;
		width:20px;
		height:20px;
		margin-top:25px;
		margin-right:10px;
	}
	.fa{
		font-size:20px!important;
	}
}

@media only screen and (max-width: 350px) {
	.social_icon{
		margin-top:20px;
	}
}

/* Adapt to smaller devices */
@media only screen and (max-width: 200px) {
	.profile-img{
		width:50px;
		height:50px;
		padding-top:35%;
	}
	.hello{
		font-size:20px;
		line-height:20px;
	}
	.flex-container{
		padding-top:40%;
	}
}
